<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @* <base href="/">  *@
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
